.header {
  background-image: url("/public/header.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.margin-top {
  padding-top: 150px;
}
